{% extends 'layout.html' %}

{% block title %}Blog App{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('static/images/index_back.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-center">
                <div class="site-heading">
                    <!-- ヘッダーのタイトル変更 -->
                    <h1>Utopian Food</h1>
                    <span class="subheading">
                        Simple Blog using Flask App to test-deploy on the cloud</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<!-- Main Content-->
<div class="container">
    <div class="row">
        <div class="col-center">
            <!-- Post preview-->
            {% for entry in rows %}
            <div class="post-preview">
                <a href="{{ url_for('show_entry', id=entry.id) }}">
                    <h2 class="post-title">{{entry.title|truncate(80)}}</h2>
                    <h5 class="post-subtitle">{{entry.contents|truncate(80)}}</h5>
                </a>
                <p class="post-meta">
                    Admin posted on {{entry.create_at}}
                </p>
            </div>
            <hr class="divider" />
            {% endfor %}
            <div class="pager-wrapper">
                {{ pagination.info }}
            </div>
            <div class="pager-wrapper">
                {{ pagination.links }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
