<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/x-icon" />
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="{{url_for('index')}}">Blog App</a>
        </div>
    </nav>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-center">
                    <ul class="social-links">
                        <li class="social-item">
                            <a href="https://www.twitter.com/">
                                <span class="icon-circle">
                                    <span class="icon-bg">●</span>
                                    <span class="icon-twitter">🐦</span>
                                </span>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="https://www.facebook.com/">
                                <span class="icon-circle">
                                    <span class="icon-bg">●</span>
                                    <span class="icon-facebook">f</span>
                                </span>
                            </a>
                        </li>
                        <li class="social-item">
                            <a href="https://github.co.jp">
                                <span class="icon-circle">
                                    <span class="icon-bg">●</span>
                                    <span class="icon-github">⚙</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <!-- 著作権表示-->
                    <div class="copyright">
                        Copyright &copy; Your Wonderful Blog 2025</div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
