{% extends 'layout.html' %}

{% block title %}Blog App | {{ entry.title }}{% endblock %}

{% block header %}
<header class="masthead" style="background-image: url('/static/images/entry_back.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-center">
                <div class="site-heading">
                    <div class="entry-title">
                        <h1>{{ entry.title }}</h1>
                    </div>
                    <h2 class="subheading">
                        {{entry.contents|truncate(30)}}</h2>
                    <span class="post-meta">
                        Admin posted on {{ entry.create_at }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block content %}
<article>
    <div class="container">
        <div class="row">
            <div class="col-center">
                <p>{{entry.contents}}</p>
            </div>
        </div>
    </div>
</article>
{% endblock %}
